/* CSS Variables*/
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html{
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}
#navbar__logo{
background-color: #ff8177;
background-image: linear-gradient(to top, red 0%, #ffb199 100%);
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
display: flex;
align-items: center;
cursor: pointer;
text-decoration: none;
font-size: 2rem;
text-align: center;
}

.btn{
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}
.btn:hover{
    color: #ff8177;
    background-color: #fff;
}
img{
    max-width: 100%;
}
.wrapper{
    display: grid;
    grid-gap: 20px;
}

/*Navigation*/
.main-nav ul{
    display: grid;
    grid-gap: 5px;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.main-nav a{
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

/*  Top Container */
.top-container{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

/* Showcase*/
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(Images/Image2.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p{
    font-size: 1,3rem;
    margin-top: 0;
    color: var(--light);
}

/*Top Box*/

.top-box{
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.top-box .price{
    font-size: 2.5rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

/*  Boxes  */

.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, ifr));
}

.box{
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}

/*Info*/
.info{
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}

/*Portfolio*/

.portfolio{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.portfolio img{
    width: 100%;
    box-shadow: var(--shadow);
}

/*footer*/
footer{
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a green background color to the active link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .left{
    background-color: #04AA6D;
    height: 500px;
  }
  .middle{
    background-color: #ff8177;
    height: 500px;
  }
  .right{
    background-color: #333;
    height: 500px;
  }
  /* Hide the link that should open and close the navbar on small screens */
  .navbar .icon {
    display: none;
  }
/*Media Queries */
@media(max-width:700px) {
    .top-container{
        grid-template-areas: 
        'showcase showcase'
        'top-box-a top-box-b';
    }

    .showcase h1 {
        font-size: 2.5rem;
    }

    .main-nav ul{
        grid-template-columns: 1fr;
    }
    .info{
        grid-template-columns: 1fr;
    }

    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media(max-width: 500px) {
    .top-container{
        grid-template-areas: 
        'showcase'
        'top-box-a'
        'top-box-b';
    }
}
